<main>
    <div class="row mb-2">
        <div id="loader" class="hide">
            <img src="images/1488.gif" alt="loader" />
            <span>Uploading</span>
            <span class="info hide">This may take a while specially if you have many files/big ones.</span>
        </div>
        <div id="sub-main" class="col-sm-8 offset-2"> 
            {{#each message}}
                <p class="alert alert-{{@key}}">{{ this.[0] }}</p>
                <p class="alert alert-info"><a href="{{this.[1]}}">{{ this.[1] }}</a></p>
            {{/each}}
            <div class="row">
                <div class="col-md-12">
                    <script type="text/javascript">
                        updateList = function() {
                            var input = document.getElementById('inputFileMultiple');
                            var output = document.getElementById('fileList');
                            var children = "";
                            var i; 
                            for (i = 0;i < input.files.length; ++i) {
                                children += '<li>' + input.files.item(i).name + '</li>';
                            }
                            output.innerHTML = '<ul>'+children+'</ul>';
                            $("#fileCount, #upload-label").text(`${i} ${i > 1 ? 'files' : 'file'} added`);
                        }
                        addLoader = function() {
                            if($('#fileList ul li').length > 0) {
                                $('#sub-main').addClass('hide');
                                $('#loader').removeClass('hide');
                                setTimeout(function() {
                                    $('#loader .info').removeClass('hide');
                                }, 8000);
                            } else {
                                alert('Please select at least a file to upload');
                            }
                        }
                    </script>
                    <form method="POST" action="/upload-multiple" enctype="multipart/form-data"> 
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" name="files" class="custom-file-input" id="inputFileMultiple" required multiple onchange="javascript:updateList()">
                                <label class="custom-file-label" for="inputFileMultiple" id="upload-label">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary float-right mr-2" onclick="javascript:addLoader()">Upload <i class="fa fa-upload"></i></button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="custom-file">
                                <span id="fileCount"></span>
                                <div id="fileList"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>